body{
	margin:auto;
	background: url(../../webimages/library-login-bg.jpg) no-repeat;
	background-size: cover;
}
.m1 {
	background-color:black;
	opacity:0.8;
	margin: 40px;
	height: 40vh;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content:space-around;
	text-align: center;
	font-family:arial;
}
.m1 div{
	width:30%;
	background-color: white;
	margin:40px;
	
}
.m1 div a{

	line-height: 6.2;
	display: block;
	width:100%;
	text-decoration: none;
	font-size:30px;
}
.m1 div a:hover{
	
	background-color:#dc006c;
	color:white;
}